<<Hãy đọc thằng này để ném vào file .env.properties>>
<<Đầu tiên mọi người tạo file .env.properties cùng cấp với file example này>>
<<Sau đó copy các field ở dưới và các value đi cùng (đã gửi cho mọi người) vào file mình vừa tạo để bảo mật thông tin>>


PORT=8080
DB_URL=jdbc:mysql://localhost:3306/[tên db]?useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
EMAIL_HOST = 
EMAIL_PORT = 
EMAIL_SMTP = 
EMAIL_PASSWORD = 
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_URL=