@import "tailwindcss";

@theme {
    --font-sans: "Be Vietnam Pro", ui-sans-serif, system-ui, sans-serif;

    --color-primary: #4f46e5;
    --color-secondary: #f97316;
    --color-tertiary: #1dbfaf;
    --color-neutral: #333333;
}

body {
    color: var(--color-neutral);
    background-color: #f8fafc; 
}
